<% flash[:errors].try(:each) do |error| %>
  <%= error  %>
<% end %>
<h1>Log in to PennyRoyal</h1>

<form action="/session" method="POST">
  <%= auth_token %>
  <label>Your Email
  <input
    type="text"
    name="user[email]"
    value="<%= flash[:errors] ? params[:user][:email] : "" %>">
  </label>
  <label>Password
  <input
    type="password"
    name="user[password]"
    value="<%= flash[:errors] ? params[:user][:password] : "" %>">
  </label>
  <button type="submit">LOG IN</button>
</form>
