
.account-small-greater:hover {
  color: #22c531;
  cursor: pointer;
}

.account-small-item:hover {
  color: #22c531;
  cursor: pointer;
}

.account-small-index li {
  padding: 10px 0;
  font-size: 14px;
  width: 200px;
}

.account-small-index > li:nth-child(2n+1) {
  background: #eee;
  font-size: 16px;
  font-weight: 500;
}


.account-small-index > li{
  padding: 10px;
}

.account-small-index p.account-small-greater  {
  font-size: 14px;
}

.account-small-index p.account-small-lesser  {
  font-size: 8px;
}
