// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account-index-list {
  width: 300px;
  box-shadow: 3px 3px 5px #ccc;
}

.account-index {
  margin-left: 50px;
}

.account-index-list > h1{
  padding-left: 30px;
  font-size: 18px;
}

.summary {
  background: #eee;
  padding: 10px;
}

.summary-type {
  display: block;
  float: left;
}

.summary-sum {
  display: block;
  float: right;
  margin: 0 20px 0 0;
  color: #22c531;
  font-weight: 500;
}

.account-type-index {
  display:block;
}

.account-type-index-items {
  margin: 10px 30px 10px 30px;
}

.account-text {
  display: block;
  float:left;
}

.account-institution {
  font-size: 14px;
}

.account-name {
  font-size: 10px;
  color: #aaa;
}

.account-update-time {
  font-size: 10px;
  color: #aaa;
}

.account-balance {
  display: block;
  float: right;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}
