header.account-form {
  font-weight: 500;
  margin-bottom: 20px;
  h1 {
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
}

.account-form.input-label {
  display: block;
  margin: 20px 10px;

}

.account-form-button {
  display: block;
  width: 100px;
  height: auto;
  margin: 20px;
  padding: 5px;
}

.account-pre-form {
  display: block;
}

.account-form.input {
  font-size: 14px;
  display: block;
  border-radius: 5px;
  height: auto;
  border: 1px solid grey;
  margin: 5px 0px;
  box-shadow: inset 0px 2px 2px #eee;
}

.backcarrot:before{
  content: "⬅︎"
}

.back {
  position: absolute;
  right: 20px;
  top: 20px;
}
