// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html, div, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font-style: inherit;
  text-align: inherit;
  text-decoration: inherit;
  list-style: none;

  color: inherit;
  background: transparent;
}

.account-index-list {
  width: 300px;
  box-shadow: 0px 3px 10px #ccc;
}

.account-index-list > h1{
  padding-left: 30px;
}

.summary {
  background: #eee;
  padding: 10px;
}

.summary.summary-type {
  display: block;
  float: left;
}

.summary.summary-sum {
  display: block;
  float: right;
}

.account-type-index-items {
  margin: 10px 0 10px 30px;
}

.account-institution {
  font-size: 14px;
}

.account-name {
font-size: 10px;
color: #aaa;
}
