
.account-small-greater:hover {
  color: #22c531;
  cursor: pointer;
}

.account-small-index {
  width: 220px;
  margin-left: 20px

}

.account-small-index li {
  padding: 10px 0 10px 10px;
  font-size: 14px;
}

.account-small-index > li:nth-child(2n+1) {
  background: #eee;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
  border: 1px solid #aaa;

}

.account-small-item p:first-child {
  font-size: 16px;
}

.account-small-item p:last-child {
  font-size: 10px;
  color: #aaa;
}

.account-small-index > li{
  padding: 10px 0px;
}

.account-small-item:hover {
  color: #22c531;
  cursor: pointer;
}

.account-small-item.active {
  background: #22c531;
  color: #fff;
}

.account-small-item.active:hover * {
  color: #fff
}
