.user-header {
  width: 100%;
  background: #111;
  padding: 10px 0px;
  color: #eee;
}

.header-link {
  float: right;
  font-size: 12px;
  padding: 0px;
  border: 0;
  margin: 0px 10px;
  background: #111;
  color: #aaa;
}

.header-link:hover {
  color: #fff;
}

.app-header {
  width: 100%;
  background: #eee;
  font-size: 12px;
  padding: 10px 0px 10px 0px;
}

.app-header.list {
  width: 800px;
  height: 40px;
  margin: auto;
}

.app-header.list > li {
  display: block;
  float: right;
}

.app-header-link:hover {
  border-bottom: 3px solid #aaa;
}

.app-header-link {
  height: 100%;
  padding: 10px 0px 20px 0px;
  margin: 5px 10px;
}

.app-header-link.current {
  border-bottom: 3px solid #fdda85;
}

.logo {
  display: block;
  float: left;
}
