header.form {
  font-weight: 500;
  margin-bottom: 20px;
  h1 {
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
}

.menu {
  width: 100%;
  height: 62px;
  background: linear-gradient(to top, #ccc, #eee);
  margin-bottom: 20px;
  padding-top: 10px;
}

nav.form-options span {
  display: inline-block;
  float: left;
  font-size: 12px;
  overflow: hidden;
}

nav.form-options .account {
  background: no-repeat bottom/50% url("dollar_bill.png");
}

nav.form-options .user {
  background: no-repeat top/50% url("about_me.png");
}

.form-options a {
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 40px 20px 5px 20px;
  height: 62px;
  width: auto;
}

.form-options a:hover {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    #aaa
  );
}

.form.main {
  padding: 0 20px 20px 20px;
}

.preview-image {
  width: 200px;
  height: auto;
  display: block;
  float: right;
}

.form.input-label {
  display: block;
  margin: 20px 10px;
}

.form-button {
  display: block;
  width: 100px;
  height: auto;
  margin: 20px;
  padding: 5px;
}

.form-button.submit {
  margin: 0 10px;
}

.pre-form {
  display: block;
}

.pre-form.institution {
  background: #22c531;
  padding: 10px;
  width: 300px;
  margin: 5px;
  border-radius: 5px 5px;
}

.pre-form.institution:hover {
  background: #fdda30;
  border: 1px solid #22c531;
}

.pre-form.institution:first-child {
  margin-top: 30px;
}

.form.input {
  font-size: 14px;
  display: block;
  border-radius: 5px;
  height: auto;
  border: 1px solid grey;
  margin: 5px 0px;
  box-shadow: inset 0px 2px 2px #eee;
}

.backcarrot:before{
  content: "⬅︎"
}

.back {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
  a {
    display: block;
  }
}

.age, .gender {
  width: 40px;
}

.user .input-label {
  display: block;
  padding: 10px 0px
}

.edit.main {
  background: #eee;
  border: 1px solid #fdda85;
  padding: 20px;
  form {
    label {
      margin: 5px 5px 10px;
      input, select {
        display: block;
        background: #fff;
        margin: 0px 5px 15px 5px;
      }
    }
    button {
      margin: 15px 10px 15px 0px;
    }
  }
}

.fakebutton {
  display: block;
  float: left;
  font-size: 14px;
  border-radius: 3px;
  background: #b0f;
  color: #fff;
  width: 85px;
  height: 40px;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  margin: 0px 10px 0 0;
  a {
      padding: 11px;
    display: block;
  }
}
