section.overview {
  display: block;
  float: left;
  margin: 0 10px;
  min-height: 700px;
}

.wrapper {
  position: relative;
}

section.overview-main {
  width: 600px;
  background: #fff;
  padding: 20px;
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.category-chart {
  height: 300px;
  width: 500px;
  display: block;
  text {
    fill: #000;
    font-size: 15px;
  }
}

.cat.span {
  background: #fdda85;
  margin: 5px;
  font-size: 15px;
  padding: 5px;
  // border-radius: 20px 20px;
}

.cat.input {
  border: 1px solid #000;
  display: block;
  padding: 5px;
  border-radius: 3px 3px;
  font-size: 14px;
  margin: 10px 10px 10px 0;
}

.cat.list {
  display: block;
  float: left;
  margin-right: 20px;
  > li {
    display: block;
    float: left;
  }
}

.cat.label {
  margin-top: 10px;
  font-weight: 500;
}

button.cat {
  font-size: 14px;
  padding: 5px;
  width: 110px;
}

.modal {
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0 5px 10px #aaa;
  width: 550px;
  height: 700px;
  position: absolute;
  background: #fff;
  top: -20px;
  left: 350px;
  z-index: 50;
}

.overlay {
  z-index: 49;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.60);
}
