section.overview {
  display: block;
  float: left;
  margin: 0 10px;
  min-height: 700px;
}

.wrapper {
  position: relative;
}

section.overview-main {
  background-image: url(http://previews.123rf.com/images/snusmumr/snusmumr1307/snusmumr130700017/20708584-Pirates-elements-seamless-pattern-Stock-Vector.jpg);
  width: 600px;
}

.modal {
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  padding:20px;
  box-shadow: 0 5px 10px #aaa;
  width: 500px;
  height: 500px;
  position: absolute;
  background: #fff;
  top: 100px;
  left: 500px;
  z-index: 50;
}

// .modal.is-active {
//   display: block;
// }
