section.overview {
  display: block;
  float: left;
  margin: 0 10px;
  min-height: 700px;
}

.wrapper {
  position: relative;
}

section.overview-main {
  width: 600px;
  background: #fff;
  padding: 20px;
}

.cat.span {
  background: #fdda85;
  margin: 15px;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 20px 20px;
}

.cat.input {
  border: 1px solid #000;
  display: block;
  border-radius: 3px 3px;
  margin: 10px;
  font-size: 20px;
}

.cat.list {
  display: block;
  float: left;
  margin-right: 20px;
  width: 300px;
}

.cat.label {
  margin-top: 10px;
  font-weight: 500;
}

button.cat {
  font-size: 14px;
  padding: 5px;
  width: 110px;
}

.modal {
  display: block;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0 5px 10px #aaa;
  width: 550px;
  height: 700px;
  position: absolute;
  background: #fff;
  top: 20px;
  left: 350px;
  z-index: 50;
}
