section.overview {
  display: block;
  float: left;
  margin: 0 10px;
  min-height: 700px;
}

section.overview-main {
  background: #fdda85;
  width: 600px;
}

.account-form.edit{
  display: none;
}

.account-form.new{
  display: none;
}
