// Reset

html, head, body, header, main, section,
h1, h2, h3, ul, li, div, p, span, a, button, input, form{
  margin: 0;
  padding: 0;
  border: 0;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: inherit;
  text-decoration: none;
  list-style: none;
  overflow: inherit;
  opacity: inherit;
  vertical-align: inherit;

  color: inherit;
  background: transparent;
}

// Clearfix

.group:after {
  content: "";
  display: block;
  clear: both;
}
