// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // font-family: avenirnext regular, helvetica, sans-serif;
  // background: white;
}



.login-main {
  display: block;
  width: 590px;
  height: 310px;
  margin: auto;
  padding: 43px 50px 50px 50px;
  box-shadow: 0px 3px 10px #ccc;
  background: #fff;
  border-radius: 10px 10px;
}
