// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transaction-sections > li {
  display: block;
  float: left;
}

.transaction-main section {
  display: block;
}

.transaction {
  display: block;
  background: #fdda85;
  padding: 1px;
}

.transaction-item-attributes {
  display: block;
  font-size: 12px;
}

.transaction-item-attributes > li {
  display: block;
  float: left;
  padding: 5px;
  border-right: 1px solid #000;
}

.transaction-item-attributes > li:first-child {
  border-right: 1px solid #000;
}

.transaction-item.date {
  width: 100px;
}

.transaction-item.description {
  width: 200px;
}

.transaction-item.amount {
  width: 75px;
}
