// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.transaction-sections > li {
  display: block;
  float: left;
  min-height: 700px;
}

.transaction-main {
  box-shadow: -10px 0px 10px #eee;
}

.transaction-main section {
  display: block;
}

.transaction {
  display: block;
  background: #fdda85;
  padding: 1px;
}

.transaction:nth-child(2n+1) {
  background: #fdda30;
}

.transaction-item-attributes {
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #000;
  width: 800px;
}

.transaction-item-attributes > li {
  display: block;
  float: left;
  padding: 5px;
  border-right: 1px solid #000;
}

.transaction-item-attributes > li:first-child {
  border-right: 1px solid #000;
}

.transaction-item.date {
  width: 100px;
}

.transaction-item.description {
  width: 450px;
}

.transaction-item.category {
  width: 100px;
}

.transaction-item.amount {
  width: 50px;
}


.transaction-form {
  position: relative;
  background: #224;
  font-size: 16px;
  padding: 2px 0;
}

.transaction-form form {
  width: 610;
}

.transaction-form input {
  font-size: 14px;
  padding: 5px;
}

.transaction-form span {
  position: absolute;
  left: 50%;
  z-index: 10;
  font-size: 10px;
  height: 15px;
  border: 1px solid #999;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  padding: 0 10px 0 10px;
  background: #999;
  color: #eee;
  cursor: pointer;
}
