// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.transaction-sections > li {
  display: block;
  float: left;
}

.transaction-main section {
  display: block;
}

.transaction {
  display: block;
  background: #fdda85;
  padding: 1px;
}

.transaction-item-attributes {
  display: block;
}

li.transaction-item {
  display: block;
  float: left;
}
